body{
    background: url(images/Background.jpg);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    line-height: 1.5;
}
.card{
    width: 400px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 5px 5px 11px rgb(3, 1, 1);
    border-radius: 10px;
    padding: 20px;
}
.photo{
    display: block;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
}
.card_title{
    text-align: center;
    font-size: 25px;
    color: #001c9c;
    font-family: Arial, Helvetica, sans-serif;
}
.card_text{
    font-size: 17px;
    font-family: Times 'Times New Roman', Times, serif;
}
.card_subtitle{
    font-size: 17px;
    color: #001c9c;
    font-family: Times 'Times New Roman', Times, serif;
}
.card_list{
    padding-left: 0;
    list-style-position: inside;
}